/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 17, 2020, 10:15:32 PM
    Author     : user1
*/

body{
    background-color: lime;
}
*{
    box-sizing: border-box; 
}
.container{
    padding: 16px;
    background-color: whitesmoke;
}